@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meddon&display=swap");

$dark-theme-primary-color: #1e212d;
$normal-theme-primary-color: #faeece;
$secondary-color: #b68973;
$terciary-color: #eabf9f;
$primary-font-family: "Montserrat", sans-serif;

$secondary-font-family: "Meddon", cursive;
$total-width: 100vw;

.home_container {
  width: $total-width;
  overflow-x: hidden;
  scroll-margin: 0 50px;

  .burger_icon {
    position: fixed;
    top: 32px;
    left: 32px;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    background-color: $normal-theme-primary-color;
    z-index: 99;
    outline: none;
    transition: 0.5s;
    opacity: 0;

    &:hover {
      transform: rotate(90deg);
    }
    svg {
      width: 30px;
      height: 30px;
      path {
        fill: $dark-theme-primary-color;
      }
    }
  }
  .sidebar {
    width: 200px;
    height: 200px;
    background-color: $normal-theme-primary-color;
    position: fixed;
    border-radius: 50%;
    top: -200px;
    left: -200px;
    z-index: 4;
  }
  .sidebar_links {
    position: fixed;
    visibility: hidden;
    width: $total-width;
    height: 100vh;
    z-index: 5;
    margin: 8em auto;
  }

  .section_container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .box_about {
      height: 100vh;
      width: $total-width;
      background-color: $normal-theme-primary-color;
      .container {
        height: 100vh;
        width: $total-width;
        padding: 48px;

        .img_box {
          display: flex;
          align-items: center;
          font-family: $primary-font-family;
          justify-content: space-between;
          .img {
            background-image: url(../public/assets/profile-pic.JPG);
            background-size: cover;
            background-position: center;
            width: 150px;
            height: 200px;
            border: 1px solid $dark-theme-primary-color;
            box-shadow: -15px -15px 0 1px $dark-theme-primary-color;
            flex: 0.6;
            margin-right: 1em;
            @media (min-width: 1024px) {
              flex: 0.5;
            }
          }
          .text {
            flex: 0.4;
            h2 {
              font-weight: 700;
              font-size: 1.2em;
              color: $dark-theme-primary-color;
              text-align: end;
              letter-spacing: -2px;
              user-select: none;
              @media (min-width: 425px) {
                font-size: 1.4em;
              }
              @media (min-width: 768px) {
                font-size: 1.8em;
              }
              @media (min-width: 1024px) {
                font-size: 2.2em;
              }
            }
          }
        }
        .profile_info {
          text-align: justify;
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            color: $dark-theme-primary-color;
            font-weight: 400;
            font-style: italic;
            width: 80%;
            line-height: 12px;
            user-select: none;

            font-size: 0.8em;
            @media (min-width: 375px) {
              line-height: 15px;

              font-size: 0.8em;
            }
            @media (min-width: 425px) {
              line-height: 16px;

              font-size: 0.9em;
            }
            @media (min-width: 768px) {
              font-size: 1.3em;
              line-height: 23px;
            }
            @media (min-width: 1024px) {
              font-size: 1.4em;
              line-height: 35px;
            }
          }
          .cv_icon {
            @media (min-width: 764px) {
              padding-right: 1.5em;
            }
            @media (min-width: 1024px) {
              padding-right: 2em;
            }
            span {
              width: 48px;
              height: 48px;
              display: flex;
              justify-content: flex-end;
              align-items: center;

              svg {
                width: 24px;
                height: 48px;
                fill: $dark-theme-primary-color;
              }
            }
            p {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              margin: 0 auto;
            }
          }
        }
      }
    }
    .box_projects {
      width: $total-width;
      background-color: $normal-theme-primary-color;
      .container {
        padding: 48px;
        width: $total-width;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10vh;
        align-items: center;
      }
    }
    .box_contact {
      height: 100vh;
      width: $total-width;
      background-color: $normal-theme-primary-color;
    }
  }
}
