@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

$dark-theme-primary-color: #1e212d;
$normal-theme-primary-color: #faeece;
$secondary-color: #b68973;
$terciary-color: #eabf9f;
$primary-font-family: "Montserrat", sans-serif;
$secondary-font-family: "Sacramento", cursive;
$total-width: 100vw;

.home_container {
  width: $total-width;
  overflow-x: hidden;
  scroll-margin: 0 50px;

  .burger_icon {
    position: fixed;
    top: 32px;
    left: 32px;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    background-color: $normal-theme-primary-color;
    z-index: 99;
    outline: none;
    transition: 0.5s;
    opacity: 0;

    filter: brightness(0.8);
    &:hover {
      transform: rotate(90deg);
    }
    svg {
      width: 30px;
      height: 30px;
      path {
        fill: $dark-theme-primary-color;
      }
    }
  }
  .sidebar {
    width: 200px;
    height: 200px;
    background-color: $normal-theme-primary-color;
    position: fixed;
    border-radius: 50%;
    top: -200px;
    left: -200px;
    filter: brightness(0.8);
    z-index: 2;
  }
  .sidebar_links {
    position: fixed;
    visibility: hidden;
    width: $total-width;
    height: 100vh;
    z-index: 3;
    margin: 8em auto;

    a {
      font-size: 1.7em;
      display: block;
      margin: 3em auto;
      font-family: $primary-font-family;
      color: $dark-theme-primary-color;
      text-transform: uppercase;
      opacity: 1;
      text-align: center;
    }
  }

  .about {
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .box_intro {
      height: 100vh;
      width: $total-width;
      background-color: $terciary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      filter: brightness(0.8);
      .box_intro_text {
        font-family: $secondary-font-family;
        font-size: 4em;
        color: $dark-theme-primary-color;
      }
    }
    .box_info {
      height: 100vh;
      width: $total-width;
      background-color: $dark-theme-primary-color;
    }
  }
}
